// Portfolio item 2 modal popup
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase LivingRoom#1
                            p.item-intro.text-muted NFT
                            img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/livingroom-1.png', alt='...')
                            p Living room - Coffee Table - Couch - TV stand - 2 Shelves - 2 Side Tables
                            //- ul.list-inline
                            //-     li
                            //-         strong Client:
                            //-         | Explore
                            //-     li
                            //-         strong Category:
                            //-         | Graphic Design
                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-times.me-1
                                | Close Project